main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {
    opacity: 0.8;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit {
    display: flex;
    margin-bottom: 20px;
}

.item {
    text-align: center;
    margin: 0 20px;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 5px solid #d35400;
    border-radius: 50%;
    cursor: pointer;
    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

}

.session-time {
    font-size: 1.8em;
    opacity: 0.8;
}

.title {
    text-transform: uppercase;
    font-size: 0.8em;
    opacity: 0.8;
    margin-bottom: 5px;
}

.length {
    font-size: 1.4em;
    border: none;
    width: 30px;
    text-align: center;
}

.length-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.fa {
    font-size: 1.6em;
    opacity: 0.3;
    transition: all 0.1s;
}

.fa:hover {
    opacity: 0.8;
}

.state {
    position: absolute;
    opacity: 0;
    font-size: 2em;
}

.clock:hover .state {
    opacity: 1;
}

.session-name {
    margin: 0;
    text-transform: capitalize;
}

.clock.break {
    border-color: #22a7f0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}