main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {
    opacity: 0.8;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit {
    display: flex;
    margin-bottom: 20px;
}

.item {
    text-align: center;
    margin: 0 20px;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 5px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    cursor: pointer;
}

.session-time {
    font-size: 1.8em;
    opacity: 0.8;
}

.title {
    text-transform: uppercase;
    font-size: 0.8em;
    opacity: 0.8;
    margin-bottom: 5px;
}

.length {
    font-size: 1.4em;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.fa {
    font-size: 1.4em;
    opacity: 0.5;
}

.state {
    position: absolute;
    opacity: 0;
    font-size: 2em;
}

.clock:hover .state {
    opacity: 1;
}

.clock:hover .session-time {
    opacity: 0;
}